@model IEnumerable<Bug_Tracker.Models.ManageRolesViewModel>
@{
    ViewBag.Title = "ManageRoles";
}


<div class="row">
    <div class="col-lg-6">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Assign Users to Roles</h6>
            </div>
            <div class="card-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                        
                        <div class="col-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <h6>Choose User</h6>
                                </div>
                                <div class="col-md-12">
                                    @Html.DropDownList("UserId", null, "--Select User--", new { @class = "form-control" })
                                    
                                </div>
                            </div>

                            <hr />

                            <div class="row">
                                <div class="col-md-12">
                                    <h6>Choose Role</h6>
                                </div>
                                <div class="col-md-12">
                                    @Html.DropDownList("Role", null, "--Select Role--", new { @class = "form-control" })
                                   
                                </div>
                            </div>

                            <hr />

                            <div class="row">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </div>   
                }
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">User List</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayName("User")
                                </th>
                                <th>
                                    @Html.DisplayName("Role")
                                </th>

                            </tr>
                        </thead>


                        @foreach (var user in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(model => user.UserName)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => user.RoleName)
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
