@using Bug_Tracker.Helpers
@model Bug_Tracker.Models.Ticket

@{
    ViewBag.Title = "Ticket";
}



<div>



    <div class="card mb-4">
        <div class="card-body">
            <h4>@Html.DisplayFor(model => model.Title)</h4>
            <hr />
            <div class="small text-gray-500">Created · @Html.DisplayFor(model => model.Created)</div>
            <div class="small text-gray-500">Last Updated · @Html.DisplayFor(model => model.Updated)</div>

            <b>@Html.DisplayName("Discription:")</b>
            @Html.DisplayFor(model => model.Discription)

            <hr />

            <div class="container">
                <div class="row">
                    <div class="col-auto">
                        <div class="btn btn-danger btn-icon-split" style="margin-bottom: 10px;">
                            <span class="icon small text">Priority</span>
                            <span class="small text">@Html.DisplayFor(model => model.TicketPriority.Name)</span>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="btn btn-info btn-icon-split" style="margin-bottom: 10px;">
                            <span class="icon small text">Project</span>
                            <span class="small text" style="white-space: nowrap;">@Html.DisplayFor(model => model.Project.Name)</span>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="btn btn-secondary btn-icon-split" style="margin-bottom: 10px;">
                            <span class="icon small text">Submitter</span>
                            <span class="small text" style="white-space: nowrap;">@Html.DisplayFor(model => model.Submiter.DisplayName)</span>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="btn btn-success btn-icon-split" style="margin-bottom: 10px;">
                            <span class="icon small text">Dev</span>
                            <span class="small text" style="white-space: nowrap;">@Html.DisplayFor(model => model.Developer.DisplayName)</span>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="btn btn-light btn-icon-split" style="margin-bottom: 10px;">
                            <span class="icon small text">Status</span>
                            <span class="small text">@Html.DisplayFor(model => model.TicketStatus.Name)</span>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="btn btn-warning btn-icon-split" style="margin-bottom: 10px;">
                            <span class="icon small text">Type</span>
                            <span class="small text">@Html.DisplayFor(model => model.TicketType.Name)</span>
                        </div>
                    </div>
                </div>
            </div>

            <hr />

            <div><b>Attachments:</b></div>
            <div class="container">
                <div class="row">
                    <div class="col-2" style="margin-bottom: 10px;">
                        <a href="#" class="btn btn-success btn-circle" data-toggle="modal" data-target="#attachmentModal">
                            <i class="fas fa-plus"></i>
                        </a>
                    </div>
                    @foreach (var attachment in Model.TicketAttachments.OrderByDescending(c => c.Created))
                    {
                        <div class="col-2" style="margin-bottom: 10px;">
                            <div>
                                <a href="@attachment.FilePath">
                                    <img src="@AttachmentHelper.GetIcon(attachment.FilePath)" style="width: 40px;" />
                                </a>
                            </div>
                            
                           
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="comments-tab" data-toggle="tab" href="#comments" role="tab" aria-controls="comments" aria-selected="true">Comments</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="history-tab" data-toggle="tab" href="#history" role="tab" aria-controls="history" aria-selected="false">History</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="attachment-tab" data-toggle="tab" href="#attachment" role="tab" aria-controls="attachment" aria-selected="false">Attachments</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="comments" role="tabpanel" aria-labelledby="comments-tab">
        <!-- Comments -->
        @if (User.Identity.IsAuthenticated)
        {
            <div id="addComment">
                @using (Html.BeginForm("Create", "TicketComments", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("TicketId", Model.Id)
                    @Html.Hidden("UserId", User.Identity.Name)

                    <div class="row">
                        <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12 mb-2">
                            <div class="card shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="form-group floating-label-form-group controls">
                                        @Html.TextArea("CommentBody", new { style = "width:100%;", placeholder = "Add Comment" })
                                    </div>
                                    <div>
                                        <button type="submit" style="margin:10px;" class="btn btn-primary">Add Comment</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

        }

        @foreach (var comment in Model.TicketComments.OrderByDescending(c => c.Created))
        {

            <div class="row">
                <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12 mb-2">
                    <div class="card shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col-3 col-sm-2">
                                    <img src="~/Images/avatarPlaceholder.png" class="" style="width:50px;">
                                </div>
                                <div class="col-9 col-sm-10">
                                    <div class="small text-gray-500">@comment.User.DisplayName</div>
                                    <div class="small text-gray-500">@comment.Created</div>
                                    <div class="">@comment.CommentBody</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            if (User.IsInRole("Admin") || User.IsInRole("Manager"))
            {
                <div class="row">
                    <a href=@Url.Action("Edit", "TicketComments",new { id=comment.Id })>
                        <div class=" btn btn-warning" style="width:100px; margin:15px;">
                            Edit
                        </div>
                    </a>

                    <a href=@Url.Action("Delete", "TicketComments",new { id=comment.Id })>
                        <div class=" btn btn-danger" style="width:100px; margin:15px;">
                            Delete
                        </div>
                    </a>
                </div>
            }

        }

    </div>
    <div class="tab-pane fade" id="history" role="tabpanel" aria-labelledby="history-tab">
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayName("Change Made By")
                                </th>
                                <th>
                                    @Html.DisplayName("Updated")
                                </th>
                                <th>
                                    @Html.DisplayName("Propery")
                                </th>
                                <th>
                                    @Html.DisplayName("OldValue")
                                </th>
                                <th>
                                    @Html.DisplayName("NewValue")
                                </th>

                            </tr>
                        </thead>
                        @foreach (var item in Model.TicketHistories.OrderByDescending(c => c.Updated))
                        {
                            <tr>
                                <td>
                                    @item.User.DisplayName
                                </td>
                                <td>
                                    @item.Updated
                                </td>
                                <td>
                                    @item.Propery
                                </td>
                                <td>
                                    @item.OldValue
                                </td>
                                <td>
                                    @item.NewValue
                                </td>

                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="attachment" role="tabpanel" aria-labelledby="attachment-tab">
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayName("File")
                                </th>
                                <th>
                                    @Html.DisplayName("Name")
                                </th>
                                <th>
                                    @Html.DisplayName("Submitter")
                                </th>
                                <th>
                                    @Html.DisplayName("Created")
                                </th>

                                @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                                {
                                    <th></th>
                                }


                            </tr>
                        </thead>
                        @foreach (var item in Model.TicketAttachments.OrderByDescending(c => c.Created))
                        {
                            <tr>
                                <td>
                                    <a href="@item.FilePath">
                                        <img src="@AttachmentHelper.GetIcon(item.FilePath)" style="width: 40px;" />
                                    </a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Summary)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.User.DisplayName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Created)
                                </td>

                                @if (User.IsInRole("Admin") || User.IsInRole("Manager")) {
                                    <td>
                                        <a href="@Url.Action("Delete","TicketAttachments", new { id = item.Id })" class = "btn btn-danger">Delete</a>
                                    </td>
                                }
                                
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Attachment Modal-->
<div class="modal fade" id="attachmentModal" tabindex="-1" role="dialog" aria-labelledby="attachmentModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Upload Attachment</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">


                @using (Html.BeginForm("AddAttachment", "Tickets", FormMethod.Post, new { enctype = "Multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.ProjectId)
                    @Html.HiddenFor(model => model.TicketTypeId)
                    @Html.HiddenFor(model => model.TicketPriorityId)
                    @Html.HiddenFor(model => model.SubmiterID)
                    @Html.HiddenFor(model => model.DeveloperID)
                    @Html.HiddenFor(model => model.Title)
                    @Html.HiddenFor(model => model.Discription)
                    @Html.HiddenFor(model => model.Created)
                    @Html.HiddenFor(model => model.TicketStatusId)

                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.Editor("file", new { htmlAttributes = new { type = "file", id = "fileUpload" } })
                            @Html.ValidationMessageFor(model => model.TicketAttachments, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit">Upload</button>
                }

            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                
            </div>
        </div>
    </div>
</div>
