@model Bug_Tracker.Models.Project


@{
    ViewBag.Title = "Details";
}

<div class="card-header py-3">
    <h2>@Html.DisplayFor(model => model.Name)</h2>
</div>
<div class="card-body">
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>
    </dl>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to Projects", "Index")
    </p>
    <hr />
</div>   





<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold">Tickets</h6>
    </div>
    
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayName("Title")
                        </th>
                        <th>
                            @Html.DisplayName("Priority")
                        </th>
                        <th>
                            @Html.DisplayName("Status")
                        </th>
                        <th>
                            @Html.DisplayName("Type")
                        </th>
                        <th>
                            @Html.DisplayName("Project")
                        </th>
                        <th>
                            @Html.DisplayName("Submiter")
                        </th>
                        <th>
                            @Html.DisplayName("Created")
                        </th>
                        
                        <th></th>
                    </tr>
                </thead>

                @foreach (var Ticket in Model.Tickets)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => Ticket.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Ticket.TicketPriority.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Ticket.TicketStatus.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Ticket.TicketType.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Ticket.Project.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Ticket.Submiter.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Ticket.Created)
                        </td>
                        
                        <td>
                            <a href="@Url.Action("Details","Tickets", new { id = Ticket.Id })" class = "btn btn-success">Details</a> |
                            <a href="@Url.Action("Edit", "Tickets", new { id = Ticket.Id })" class = "btn btn-warning">Edit</a> |
                            <a href="@Url.Action("Delete", "Tickets", new { id = Ticket.Id })" class = "btn btn-danger">Delete</a>

                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>

