@model IEnumerable<Bug_Tracker.Models.TicketNotification>

@{
    ViewBag.Title = "Notifications";
}


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold">Notifications</h6>
    </div>
    <div class="card-body">
           
        @foreach (var item in Model)
        {
            <div>
                <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="@item.Sender.AvatarPath" alt="">
                </div>
                <div>
                    <div class="small text-gray-500">@item.Sender.DisplayName.ToString() · @item.Created.ToString("MMM dd,yyyy")</div>
                    <span class="font-weight-bold">@item.NotificationBody</span>
                    <div>@Html.DisplayFor(modelItem => item.IsRead)</div>
                    <div>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                        @Html.ActionLink("Details", "Details", new { id = item.Id })
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </div>
                </div>
            </div>
        }
            
    </div>
</div>

